#############
## Torque executable
#############

*.dll
*.exe


#############
## Torque
#############

console.log
cache/


#############
## Torsion
#############

*.torsion
*.torsion.exports
*.torsion.opt